Assignment2/Assignment1/Business/Service References/MyDemographicsInfoService/MyDemographicsInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyDemographicsInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64216/MyDemographicsInfoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64216/MyDemographicsInfoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64216/MyDemographicsInfoService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyDemographicsInfoService_GetDemographicsWithOutDB_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDemographicsWithOutDB" />
  </wsdl:message>
  <wsdl:message name="IMyDemographicsInfoService_GetDemographicsWithOutDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDemographicsWithOutDBResponse" />
  </wsdl:message>
  <wsdl:message name="IMyDemographicsInfoService_GetDemographicsUsingDBWithConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDemographicsUsingDBWithConfig" />
  </wsdl:message>
  <wsdl:message name="IMyDemographicsInfoService_GetDemographicsUsingDBWithConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDemographicsUsingDBWithConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IMyDemographicsInfoService_GetDemographicsUsingDBWithOutConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDemographicsUsingDBWithOutConfig" />
  </wsdl:message>
  <wsdl:message name="IMyDemographicsInfoService_GetDemographicsUsingDBWithOutConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDemographicsUsingDBWithOutConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyDemographicsInfoService">
    <wsdl:operation name="GetDemographicsWithOutDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyDemographicsInfoService/GetDemographicsWithOutDB" message="tns:IMyDemographicsInfoService_GetDemographicsWithOutDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyDemographicsInfoService/GetDemographicsWithOutDBResponse" message="tns:IMyDemographicsInfoService_GetDemographicsWithOutDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDemographicsUsingDBWithConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyDemographicsInfoService/GetDemographicsUsingDBWithConfig" message="tns:IMyDemographicsInfoService_GetDemographicsUsingDBWithConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyDemographicsInfoService/GetDemographicsUsingDBWithConfigResponse" message="tns:IMyDemographicsInfoService_GetDemographicsUsingDBWithConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDemographicsUsingDBWithOutConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyDemographicsInfoService/GetDemographicsUsingDBWithOutConfig" message="tns:IMyDemographicsInfoService_GetDemographicsUsingDBWithOutConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyDemographicsInfoService/GetDemographicsUsingDBWithOutConfigResponse" message="tns:IMyDemographicsInfoService_GetDemographicsUsingDBWithOutConfig_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyDemographicsInfoService" type="tns:IMyDemographicsInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDemographicsWithOutDB">
      <soap:operation soapAction="http://tempuri.org/IMyDemographicsInfoService/GetDemographicsWithOutDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemographicsUsingDBWithConfig">
      <soap:operation soapAction="http://tempuri.org/IMyDemographicsInfoService/GetDemographicsUsingDBWithConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemographicsUsingDBWithOutConfig">
      <soap:operation soapAction="http://tempuri.org/IMyDemographicsInfoService/GetDemographicsUsingDBWithOutConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyDemographicsInfoService">
    <wsdl:port name="BasicHttpBinding_IMyDemographicsInfoService" binding="tns:BasicHttpBinding_IMyDemographicsInfoService">
      <soap:address location="http://localhost:64216/MyDemographicsInfoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>